.Main h1{
    background-color: #CEA2F8;
    margin-top: -10px;
    margin-left: -20px;
    margin-right: -20px;
}

.explanation{
    text-align: center;
}

.Main h2{
    text-align: center;
}

.Main h3{
    padding-left: 10px;
    padding-top: 10px;
    margin-bottom: -20px;
    font-size: 40px;
}

.Main article{
    padding-left: 10px;
    padding-right: 10px;
}

.Main article article article{
    padding-top: 10px;
}

.collapsible {
    background-color: #CEA2F8;
    color: black;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 40px;
  }
  
  .active, .collapsible:hover {
    background-color: #dab8fa;
  }

  .content {
    padding: 0 18px;
    padding-bottom: 18px;
    display: none;
    overflow: hidden;
    background-color: #dab8fa;
  }

/*-------------------------------------------
                GotNobody
-------------------------------------------*/

#GotNobody{
    background-color: #CEA2F8;
}

#GotNobody section{
    display: flex;
}

#GotNobody section iframe{
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 80px;
}

/*-------------------------------------------
            The Blood Night
-------------------------------------------*/
#TheBloodNight{
    background-color: #CEA2F8;
}

#TheBloodNight section{
    display: flex;
}

#TheBloodNight section iframe{
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 60px;
}
/*-------------------------------------------
                Trickshot
-------------------------------------------*/

#TrickShot{
    background-color: #CEA2F8;
}

#TrickShot section{
    display: flex;
}

#TrickShot section iframe{
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 50px;
}

/*-------------------------------------------
            Global GameJam 2021
-------------------------------------------*/

#GGJ2021{
    background-color: #CEA2F8;
}

#GGJ2021 img{
    width: 500px;
    height: auto;
}

#GGJ2021 section{
    display: flex;
}

#GGJ2022{
    background-color: #CEA2F8;
}

#GGJ2022 img{
    width: 500px;
    height: auto;
}

#GGJ2022 section{
    display: flex;
}